.debug,
.debug * {
  border: 1px dashed red;
  padding: 5px;
  margin: 5px;
}

#root {
  height: 100vh;
}

header {
  background-color: #2d2a2e;
}

main {
  background-color: #3c3c3c;
}

.img-card-container {
  aspect-ratio: calc(3 / 4);
}

.hepburn-img {
  object-position: 5% center;
}
